$body-background-color: #FFF;
$unselectedHand: 0.8;
$selectedHand: 1;


$handPlayerOpacity: 0.9;
$handPlayerScale: 100%;

$handCPUOpacity: 0.5;
$handCPUScale: 85%;

$transSelectHand: 0.05s;
$transHoverHand: 0.05s;

$fontBody: 14px;

$fontStart: 10vw;
$fontStartEmphasis: 9vw;

* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none; //make text unhighlightable
  // overflow:hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: $body-background-color;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $fontBody;
  display: flex;
  flex-direction: row;
  height: 100vh;
  // border: 1px red solid;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;


  .result {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    opacity: .6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .win .draw .lose{
    position: relative;
    }

  }


  .gameStart {
    // border: 1px black solid;
    height: 100%;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .screenStart {
      // border: 1px solid purple;
      margin: 0 auto;
      font-size: $fontStart;

      p {
        text-align: center;
        line-height: 200%;
      }
      .hover {
        font-size: $fontStartEmphasis;
      }
    }
    img {
      cursor: pointer
    }
  }

  .gameEnd {
    // border: 1px pink solid;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }


  .halfCPU {
    // border: 1px solid green;
    height: 100%;
    width: 100vw;
    // display: flex;
    img {
      // border: 1px solid blue;
      opacity: $handCPUOpacity;
      max-width:$handCPUScale;
      max-height: $handCPUScale;
      transform: rotate(180deg);
    }
  }

  .halfPlayer {
    // border: 1px solid green;
    height: 100%;
    width: 100vw;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    // margin-bottom:-1px;
    img {
      // border: 1px solid red;
      opacity: $handPlayerOpacity;
      max-width: $handPlayerScale;
      max-height: $handPlayerScale;
    }
  }





  nav {
    // border: 1px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .selector {
      height: 100%;
      flex-grow: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // border: 1px solid red;
      .over {
        max-width:95%;
        max-height:95%;
        opacity: $selectedHand;
      }
      .mousedown {
        max-width:100%;
        max-height: 100%;
        opacity: $selectedHand;
      }
    }



    .selector img {
      max-width:85%;
      max-height: 85%;
      opacity: $unselectedHand;
      -webkit-transition: opacity $transSelectHand; /* For Safari 3.1 to 6.0 */
      transition: opacity $transSelectHand;
      transition-timing-function: ease-out;
      -webkit-transition: width $transSelectHand; /* For Safari 3.1 to 6.0 */
      transition: width $transSelectHand;
      -webkit-transition: max-height $transSelectHand; /* For Safari 3.1 to 6.0 */
      transition: max-height $transSelectHand;
      transition-timing-function: ease-out;
      border-radius: 35%;
      // border: 1px solid red;
    }
    .selector.advanced {

    }
  }
  .hide {
    display: none;
  }




}
