$body-background-color: #FFF;
$unselectedHand: 0.5;
$selectedHand: 1;


$handPlayerOpacity: 0.9;
$handPlayerScale: 100%;

$handCPUOpacity: 0.5;
$handCPUScale: 85%;

$transSelectHand: 0.01s;
$transHoverHand: 0.05s;
$transGameSelect: 0.05s;

$fontBody: 14px;

$fontStart: 7.25vw;
$fontStartEmphasis: 7vw;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; //make text unhighlightable
  overflow:hidden;
}

body {
  background-color: $body-background-color;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $fontBody;
  display: flex;
  flex-direction: row;
  height: 100vh;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;


  .gameStart {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .screenStart {
      height: 60%;
      width: 90%;
      margin: 0 auto;
      .gameSelect {
        height:50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          margin: 0;
          padding: 0;
          font-size: $fontStart;
          text-align: center;
          transition: font-size $transGameSelect;
          transition-timing-function: ease-out;
        }

        p:hover {
          font-size: $fontStartEmphasis;
          transition: font-size $transGameSelect;
          transition-timing-function: ease-out;
        }
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    width: 100vw;
    .selector {
      height: 100%;
      max-width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: $unselectedHand;
      transition-timing-function: ease-out;
      -webkit-transition: max-width $transSelectHand; /* For Safari 3.1 to 6.0 */
      transition: max-width $transSelectHand;

      .over {
        max-width:90%;
        max-height:90%;

        transition-timing-function: ease-out;
        -webkit-transition: max-width $transSelectHand; /* For Safari 3.1 to 6.0 */
        transition: max-width $transSelectHand;
      }
      .mousedown {
        max-width:100%;
        max-height: 100%;
        opacity: $selectedHand;
      }
    }

    .selector img {
      border-radius: 35%;
      max-width:85%;
      max-height: 85%;
    }

    .selector:hover {
        opacity: $selectedHand;
    }

    .selector.advanced {

    }
  }

  .hide {
    display: none;
  }

  .result {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 110vh;
    opacity: .6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .win .draw .lose{
    position: relative;
    }

  }
}

.gameEnd {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.halfCPU {
  height: 100%;
  width: 100vw;
  img {
    opacity: $handCPUOpacity;
    max-width:$handCPUScale;
    max-height: $handCPUScale;
    transform: rotate(180deg);
  }
}

.halfPlayer {
  height: 100%;
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  img {
    opacity: $handPlayerOpacity;
    max-width: $handPlayerScale;
    max-height: $handPlayerScale;
  }
}
